<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="row row-center">
            <div class="col">
                <h2 class="center">Review</h2>
                <p>Access to your personnal dashboard and statistics about your habits
                and the tasks which compose your life !</p>
                <a ui-sref="review" style="text-decoration:none;">
                    <button class="button button-block button-balanced">
                        Access your Review
                    </button>
                </a>
            </div>
        </div>
        <div class="row row-center">
            <div class="col">
                <h2 class="center">New task</h2>
                <p>Enter informations about what you're currently doing ! Everything you
                add is later on displayed on the review section.</p>
                <a ui-sref="task" style="text-decoration:none;">
                    <button class="button button-block button-balanced">
                        Create new task
                    </button>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
