<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider bar bar-calm">
                Access your review
            </div>
            <div class="item item-text-wrap">
                <p>Access the report of your activity and the statistics compute thanks to all the data you've saved in the application.</p>
                <br>
                <p class="center"><a ui-sref="review"><button class="button button-energized">Review</button></a></p>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider bar bar-calm">
                Create new task
            </div>
            <div class="item item-text-wrap">
                <p>Save what you're doing! Enter a new task to see later on the statistics compute by the application on the review page.</p>
                <br>
                <p class="center"><a ui-sref="task"><button class="button button-energized">New task</button></a></p>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider bar bar-calm">
                Access task list
            </div>
            <div class="item item-text-wrap">
                <p>Access to the list of all the task you have previously saved in the application. You can also delete or update it.</p>
                <br>
                <p class="center"><a ui-sref="list"><button class="button button-energized">Task list</button></a></p>
            </div>
        </div>
        <!--
        <div class="row row-center">
            <div class="col">
                <h2 class="center">Review</h2>
                <p>Access to your personnal dashboard and statistics about your habits
                and the tasks which compose your life !</p>
                <a ui-sref="review" style="text-decoration:none;">
                    <button class="button button-block button-balanced">
                        Access your Review
                    </button>
                </a>
            </div>
        </div>
        <div class="row row-center">
            <div class="col">
                <h2 class="center">New task</h2>
                <p>Enter informations about what you're currently doing ! Everything you
                add is later on displayed on the review section.</p>
                <a ui-sref="task" style="text-decoration:none;">
                    <button class="button button-block button-balanced">
                        Create new task
                    </button>
                </a>
            </div>
        </div>
    -->
    </ion-content>
</ion-view>
