<ion-view view-title="List">
    <ion-content class="padding">
        <div class="row row-center center">
            <div class="col">
                <label class="item item-input item-stacked-label">
                    <!--<span class="input-label">New category name</span>-->
                    <input type="text" ng-model="search" placeholder="Research">
                </label>
            </div>
            <div class="col">
                <button class="button button-energized">
                    Filter by research
                </button disabled>
            </div>
        </div>
        <div class="list card" ng-init="init()">
            <div class="item item-text-wrap" ng-repeat="item in collectionList | filter:search">
                <div class="row row-center">
                    <div class="col">
                        <h2>{{item.categoryName}}</h2>
                        <p>{{item.taskName}}</p>
                        <p>{{item.date}} - {{item.durationHours}}h{{item.durationMinutes}}m</p>
                    </div>
                    <div class="col">
                        <button class="button button-block button-assertive" ng-click="deleteItem({{item.idTask}})">Delete</button>
                        <button class="button button-block button-calm">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
