<ion-view view-title="Review">
    <ion-content class="padding">
        <div class="card" ng-init="pieInit()">
            <div class="item item-divider bar bar-energized">
                Total review - hours
            </div>
            <br>
            <canvas id="pie" class="chart chart-pie" chart-data="pieData" chart-labels="pieLabels" chart-legend="true">
            </canvas>
        </div>

        <div class="card" ng-init="lineInit()">
            <div class="item item-divider bar bar-energized">
                Review of category - hours
            </div>
            <br>
            <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-click="onClick" chart-colours="lineColors">
            </canvas>
        </div>
<!--
        <div class="card">
            <div class="item item-divider">

            </div>
            <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-click="onClick" >
            </canvas>
        </div>

        <div class="card">
            <div class="item item-divider">
                A bar chart
            </div>
            <div class="item item-text-wrap">
                <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-options="{showTooltips: false}"></canvas>
            </div>
        </div>
-->
    </ion-content>
</ion-view>
